# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# --- REVISI UNTUK LOGBOOK APP (SECURITY & CLEAN CODE) ---
# Mengamankan kredensial MongoDB Atlas
.env
.env.test
.env.production

# Mengabaikan file log lokal hasil Task 4 agar tidak memenuhi repo
logs/
*.log
# -------------------------------------------------------

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release